
/* --------------- General --------------- */

body {
    text-align: center;
    margin: 0;
}

body * {
    width: 100%;
}


/* --------------- Header --------------- */

.title {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    align-items: baseline;
}

.title img {
    width: 70px;
}

.title h1 {
    width: auto;
}

.search-bar {
    width: 80%;
    display: flex;
    height: 40px;
}

#search-input {
    
}

.search-bar img {
    width: 30px;
    padding: 5px;
    border: black 1px solid;
}


/* --------------- Main --------------- */

main {
    width: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: solid black 1px;
}

/* --------------- Footer --------------- */

footer {
    display: flex;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.social img {
    margin: 10px;
}