body {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.content {
    max-width: 600px;
    margin: 100px auto;
    padding: 50px 100px;
    border: black 1px solid;
}

h1 {
    letter-spacing: 2px;
    font-weight: 100;
}

h2 {
    color: #006EB6;
    letter-spacing: 4px;
    font-size: 16px;
    margin: 0;
    font-weight: 100;
}

.italic {
    font-style: italic;
}

p, li {
    text-align: left;
    margin: 10px 0;
    line-height: 1.5;
}

#logo {
    width: 30%;
    margin-top: 20px;
}

/* Dark Theme */

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #85caf8;
}