@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* Colors */
    --gold: #EFC69B;
    --red: #AF1B3F;
    --dark: #473144;
    
    /* Fonts */
    --body-font: Helvetica, Arial, sans-serif;
    --headline-font: "Lora", Impact, serif;

    /* Border */
    --gold-border: var(--gold) solid 1px;
}

/* --------------- Header --------------- */

body {
    margin: 0;
    text-align: center;
    color: var(--dark);
}

nav {
    border-top: var(--gold-border);
    border-bottom: var(--gold-border);
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style: none;
    margin: 0 20px;
}

nav li:first-child {
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: var(--red);
    font-size: 1.2rem;
}

nav a:hover, button:hover {
    color: var(--dark);
}

/* --------------- Main --------------- */

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: end;
}

main h1 {
    font-size: 1.6rem;
    color: var(--red);
}
main h2 {
    font-size: 1.2rem;
}
main h3 {
    font-size: 1rem;
}

main h1, main h2 {
    margin: 10px auto;
}

.book-data, .book-summary {
    margin: 0 10px;
}

main article {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book-data, .book-summary, #filters {
    margin: 20px auto;
    padding: 10px;
}

.book-data {
    text-align: right;
    border-right: var(--gold-border);
    width: 200px;
}

.book-summary img {
    text-align: center;
    width: 70%;
}

#filters {
    text-align: left;
    border: var(--gold-border);
}

button {
    border: none;
    color: var(--red);
    background-color: transparent;
}

/* --------------- Footer --------------- */


@media (max-width: 700px)  {
    #filters {
        display: none;
    }
    main, main article {
        display: block;
        margin: 20px auto;
    }
    .book-data, .book-summary {
        text-align: center;
        border: none;
        margin: 0 auto;
    }
    .book-data > * {
        margin: 5px auto;
    }
}