/* style.css */
* {
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

main {
  max-width: 600px;
}

.errors > p {
  border: 1px solid red;
  padding: 0.5em;
}

/* Style the select arrow for Safari */
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Style the select arrow for other browsers */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.hide {
  display: none; /* Initially hide the credit card input and label */
}

/* ---------- Form ---------- */

#checkout-form {
  margin-right: 100%;

}

label {
    display: block;
    margin-bottom: 5px;
}

div {
    margin-top: 30px;
    width: 250px;
}

#payment-method {
    height: 24px;
}

select, input, label {
    width: 200px;
}

select {
    padding-left: 3px;
}

#checkout-form > div:last-of-type > label {
    display: inline;
}

#waffles {
    width: 20px;
}